@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
}

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
}
